{% set integration_name = 'open_ai_azure' %}
{% set display_name = 'Azure OpenAI' %}
{% set section_name = section_name | default('ai') %}


<add-integration-button
        integration_name="{{ integration_name }}"
        display_name="{{ display_name }}"
>
    <img class="w-5 h-5" src="{{ url_for('%s.static' | format(integration_name), filename='logo.svg') }}"/>
</add-integration-button>


<Open-Ai-Azure-Integration-Modal
        @register="register"
        instance_name="{{ integration_name }}"
        section_name="{{ section_name }}"
        @update="custom_data.handle_integrations_update"

        display_name="{{ display_name }}"
        logo_src="{{ url_for('%s.static' | format(integration_name), filename='logo_white.svg') }}"
></Open-Ai-Azure-Integration-Modal>
